!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BookShareRailsMono
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    - if logged_in?
      .py-2.px-4.bg-indigo-200.flex.justify-between.items-center
        %h1= link_to 'book share', root_path
        .flex.gap-x-7.items-center
          %span= link_to '新規投稿', new_post_path
          %span= link_to 'ユーザー一覧', users_path
          = link_to mypage_path do
            %span.flex.gap-x-2.items-center
              = user_icon(current_user, 'small')
              = current_user.name
          %span= button_to 'ログアウト', logout_path, { method: :delete }
    - else
      .py-2.px-4.bg-indigo-200.flex.justify-between
        %h1 book share

    - flash.each do |name, msg|
      = content_tag :div, msg, class: 'm-3 p-2 border rounded bg-sky-200 text-sky-700'

    %main.container.mx-auto.mt-10.px-5.flex.gap-x-6
      = yield
